<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kafka Data</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <h1>Kafka Data</h1>
    <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Recorded Date</th>
            <th>User ID</th>
            <th>Minutes</th>
            <th>Inserted At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.ID }}</td>
            <td>{{ row.RECORDEDDATE }}</td>
            <td>{{ row.USER_ID }}</td>
            <td>{{ row.MINUTES }}</td>
            <td>{{ row.INSERTED_AT }}</td>
            <td>{{ row.UPDATED_AT }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No data available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->

</body>
</html>
